#primeiramente deve ser inserido o nome do arquivo neste doc e após isso, criar o arquivo na pasta do projeto
#para colocar uma pasta e todos os seus arquivos internos:
#nome_pasta/*


arquivo_ignorado2.txt